/* modal.css */
.Modal{
    color:white;
}

.ModalContent {
    background-color: #011d10ad;
    /* Green background with 50% opacity */
    
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    max-width: 400px;
    max-height: 700px;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center the modal */
    text-align: center;
    /* Center content */
    position: relative;
    /* Ensure position */
}

.ModalContent h2 {
    margin-bottom: 20px;
    color:white;
}

.ModalContent form {
    color:white;
}
.ModalContent input {
    width: calc(100% - 20px);
    /* Adjust input width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ModalContent button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.ModalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
}